<h2>League Table</h2>
<%= LeagueTablePresenter.new(@teams, self).render %>

<h2>Bambinos FC Goalscorers</h2>
<dl>
<% @goalscorers.each do |player| %>
  <dt>
    <%= image_tag(player.image) %> <%= player.number %>. <%= player.full_name %>
  </dt>
  <dd>
    <%= player.goals_scored %> goals
  </dd>
<% end %>
</dl>

<% content_for :footer do %>
  <script type="text/javascript" charset="utf-8">
    var matchesByDate = <%== @matches_by_date.to_json %>
    var teamPointsByMatchday = <%== @team_points_by_matchday.to_json %>
  </script>
<% end %>
